@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Cormorant+Garamond:wght@300;400;500;600;700&family=DM+Serif+Display&family=EB+Garamond:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500&family=Lexend+Deca:wght@200;300;400;500&family=Nanum+Myeongjo:wght@400;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
header{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  box-shadow: 0 1px 5px #333;
}
header .logo{
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

header .box-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .box-menu .outline{
  position: absolute;
  width: 15px;
  transition: 0.2s linear;

}
header .box-menu li{
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
}

header .box-menu li a{
  text-decoration: none;
  color: #111;
}
header .box-menu .sociais{
  position: fixed;
  display: block;
  height: 0px;
  transition: 0.3s linear;
  visibility: hidden;
  overflow-y: hidden;
  z-index: 999;
}
header .box-menu .sociais li{
  border-bottom: 1px solid grey;
}
header .box-menu .sociais li:hover{
  background-color: rgb(124, 202, 246);
  cursor: pointer;
}
/* ATIVAR REDES SOCIAIS */
header .box-menu .sociais.active{
  height: 110px;
  visibility: visible;
}
header .box-menu .outline.active{
  transform: rotate(90deg);
}

/* FORMULÁRIO - NOME E CONTATO*/
section{
  display: flex;
  justify-content: center;
}
.form-box{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 70%;
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  border-radius: 30px;
  box-shadow: 0 0 5px #333;
}
.form-box .form-1{
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 500;
}
.form-box .campo-1{
  position: absolute;
  width: 43%;

}
.form-box .campo-2{
  position: absolute;
  right: 20px;
  width: 43%;
}
.form-box .form-1 input{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(221, 221, 221);
  padding: 5px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 600;
}
.form-box .form-2{
  width: 100%;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 500;
}

.form-box .form-2 .contato input{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(221, 221, 221);
  padding: 5px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 600;
}

/* FORMULÁRIO - ANIMAL */

.form-box .animal{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-box .img-animal{
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 50%;
}
.form-box .img-animal .imagem{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.form-box .select{
  margin-top: 10px;

}
.form-box .select input{
  margin: 10px;
}

/* FORMULÁRIO - PORTE DO ANIMAL */

.form-box .porte{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.porte.tirar{
  display: none;
}
.form-box .porte .img-porte{
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 50%;
}
.form-box .porte .porte-animal{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}



