@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Cormorant+Garamond:wght@300;400;500;600;700&family=DM+Serif+Display&family=EB+Garamond:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500&family=Lexend+Deca:wght@200;300;400;500&family=Nanum+Myeongjo:wght@400;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}
/* HEADER */
header{
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  box-shadow: 0 1px 5px #333;
}
header .logo{
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
header .btn-menu{
  display: none;
  width: 40px;
  height: 40px;
  background: url(/assets/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;

}

header .box-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .box-menu .outline{
  position: absolute;
  width: 15px;
  transition: 0.2s linear;

}
header .box-menu li{
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
}

header .box-menu li a{
  text-decoration: none;
  color: #111;
}
header .box-menu .sociais{
  position: absolute;
  display: block;
  height: 0px;
  transition: 0.3s linear;
  visibility: hidden;
  overflow-y: hidden;
  background-color: #4196dc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px #333;
}
header .box-menu .sociais li{
  border-bottom: 2px solid #333;
  transition: 0.2s linear;
}
header .box-menu .sociais li:hover{
  background-color: rgb(124, 202, 246);
  cursor: pointer;
}
/* ATIVAR REDES SOCIAIS */
header .box-menu .sociais.active{
  margin-top: 30px;
  height: 110px;
  visibility: visible;
}
header .box-menu .outline.active{
  transform: rotate(90deg);
}

/* FORMULÁRIO - NOME E CONTATO*/

.form-box{
  position: relative;
  width: 70%;
  margin: 110px auto;
  padding: 20px;
  background: linear-gradient(180deg, #574ae8 0%, #3ea1db 100%);
  border-radius: 15px;

}
.form-box.clicado{
  display: none;
}
/* Nome e Sobrenome */
.form-box .contact{
  position: relative;
  width: 100%;
  height: 70px;

}
.form-box .contact .input{
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding-right: 10px;
}
.form-box .contact .input-2{
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding-left: 10px;
  right: 0;
}
.form-box .contact input{
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
  outline: none;
  opacity: 0.5;
}
/* Email e Telefone */
.form-box .contact-2{
  position: relative;
  width: 100%;
  height: 70px;

}
.form-box .contact-2 .input{
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding-right: 10px;
}
.form-box .contact-2 .input-2{
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding-left: 10px;
  right: 0;
}
.form-box .contact-2 input{
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  opacity: 0.5;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
}

/* Seleção de animal */
.select{
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.select .select-animal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.select .animal-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
  
}
.select-animal .input-2 input{
  margin: 5px;
  cursor: pointer;
}

/* Select cachorro ou gato */
.animal-image.cachorro{
  display: block;
  background: url(/assets/cachorro.png);
  background-size: cover;
  background-position: center;
}
.animal-image.gato{
  display: block;
  background: url(/assets/gato.png);
  background-size: cover;
  background-position: center;
}

/* Tamanho do animal */

/* Cachorro */
.tamanho-cachorro{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}
.tamanho-cachorro .tamanho-imagem{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
}
.tamanho-cachorro .tamanho-imagem .tamanhoCachorro{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.tamanho-cachorro input{
  margin: 5px;
  cursor: pointer;
}
.tamanho-cachorro.box{
  display: flex;
}


/* Gato */

.tamanho-gato{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  
}
.tamanho-gato input{
  margin: 5px;
  cursor: pointer;
}
.tamanho-gato .tamanho-imagem{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
}
.tamanho-gato .tamanho-imagem .tamanhoGato{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.tamanho-gato.box-2{
  display: flex;
}

/* Botão */

.botao{
  display: block;
  border: none;
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  font-family: 'Outfit';
  font-weight: 600;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #574ae8;
  color: #fff;
  transition: 0.2s linear;

}
.botao:hover{
  cursor: pointer;
  background-color: #3ea1db;
  letter-spacing: 1px;

}


/* Mensagem final */

.mensagem{
  display: none;
  width: 100%;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}
.mensagem.clicado{
  display: flex;
}




