/* Menu de navegação */
@media (max-width: 600px) {
  header .logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  header .box-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: -100%;
    height: calc(100% - 60px);
    top: 60px;
    z-index: 999;
    background: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
    transition: 0.3s linear;
  
  }
  header .box-menu li{
    list-style: none;
    padding: 10px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  header .box-menu.active {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    height: calc(100% - 60px);
    z-index: 999;
    background: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
  }
 
  
  header .box-menu .sociais {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
  }
  header .box-menu .sociais li{
    padding: 15px;
  }
  header .box-menu .sociais.active{
    height: 170px;

  }
  header .box-menu .outline{
    width: 25px;
  }
  header .btn-menu {
    display: block;
    cursor: pointer;
  }
  header .btn-menu.active {
    width: 40px;
    height: 40px;
    background: url(/assets/close.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .form-box{
    position: relative;
    width: 95%;
    margin: 50px auto;
  }

  .form-box .contact {
    height: 140px;
  }
  .form-box .contact .input {
    padding-right: 0;
    width: 100%;
  }
  .form-box .contact .input-2 {
    width: 100%;
    position: inherit;
    display: block;
    left: 0;
    top: 75px;
    padding-left: 0;
  }
  .form-box .contact-2 {
    margin-top: 5px;
    height: 140px;
  }
  .form-box .contact-2 .input {
    padding-right: 0;
    width: 100%;
  }
  .form-box .contact-2 .input-2 {
    width: 100%;
    position: inherit;
    display: block;
    left: 0;
    top: 75px;
    padding-left: 0;
  }
}

@media (max-width: 400px) {
}
